<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title th:text="${title}">Survey Form Confirm</title>

	<!-- Bootstrap core CSS -->
	<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<main role="main" class="container">
		<h1 th:text="${title}">title</h1>
		<p>記載しているアンケート情報を確認してください。</p>
		<div th:object="${surveyForm}">
			<div class="form-group">
				<label>年齢:</label>
				<label th:text="*{age}"></label>	
			</div>
			<div class="form-group">		  
				<label>満足度:</label>
				<label th:text="*{satisfaction}"></label>
			</div>
			<div>
				<label>コメント:</label>
				<label th:text="*{comment}"></label>
			</div>
			<form method="POST" action="#" th:action="@{/survey/form}">
				<input type="hidden" name="age" th:value="*{age}">
				<input type="hidden" name="satisfaction" th:value="*{satisfaction}">
				<input type="hidden" name="comment" th:value="*{comment}">				
				<button type="submit" class="btn btn-outline-primary">戻る</button>
			</form>
			
			<form method="POST" action="#" th:action="@{/survey/complete}">
				<input type="hidden" name="age" th:value="*{age}">
				<input type="hidden" name="satisfaction" th:value="*{satisfaction}">
				<input type="hidden" name="comment" th:value="*{comment}">
				<button type="submit" class="btn btn-outline-primary">完成</button>
			</form>
		
		</div>
	</main>
		
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js"  th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>    
</body>
</html>