<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title th:text="${title}">Survey Form</title>

	<!-- Bootstrap core CSS -->
	<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>

 <body>
   	<div th:replace="~{block/header_boot::headerA_boot}"></div>
	<main role="main" class="container">
		<h1 th:text="${title}">title</h1>
	  	<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">id</th>
		      <th scope="col">年齢</th>
		      <th scope="col">満足度</th>
		      <th scope="col">コメント</th>
		      <th scope="col">作成日</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="survey:${surveyList}">
		      <td th:text="${survey.id}"></td>
		      <td th:text="${survey.id}"></td>
		      <td th:text="${survey.satisfaction}"></td>
			  <td th:text="${survey.comment}"></td>
			  <td th:text="${survey.createdDate}"></td>
		    </tr>		    
		  </tbody>
		</table>	
	</main><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js"  th:src="@{/js/bootstrap.bundle.min.js}" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
  </body>    
</html>
